<div id="<%= dom_id tailgate %>">
  <p>
    <strong>Location:</strong>
    <%= tailgate.location %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= tailgate.name %>
  </p>

  <p>
    <strong>Stadium:</strong>
    <%= tailgate.stadium_id %>
  </p>

</div>
