<div class="card card-generic border-dark mb-3 h-100" style="max-width: 18rem;">
  <%= link_to tailgate_by_stadium_path(tailgate.name), class: "card-header" do %>
    <%= tailgate.name %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= tailgate.location %></h5>
    <p class="card-text"><%= tailgate.description %></p>
  </div>
</div>
