<h1>Tailgates for <%= @stadium_tailgate.name %></h1>

<div class="d-flex p-2 justify-content-around flex-wrap">
  <% @tailgates.each do |tailgate| %>
    <div class="m-3">
      <%= render tailgate %>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <div>
    <%= link_to "New tailgate", new_tailgate_path, class: "btn btn-outline-success m-2"%>
  </div>
  <div>
    <%= link_to "Back to stadium", stadium_path(@stadium_tailgate.name), class: "btn btn-outline-primary m-2"%>
  </div>
</div>
