<h1>Editing tailgate</h1>

<%= render "form", tailgate: @tailgate %>

<br>

<div>
  <%= link_to tailgate_by_stadium_path(@tailgate.name) do %>
    Show this tailgate
  <% end %> |
  <%= link_to "Back to tailgates", tailgates_path %>
</div>
