<h1>FAQ</h1>

<hr>

<h5>When will new NFL teams be added?</h5>
<p>Soon, I promise</p>

<br>

<h5>When will college football teams be added?</h5>
<p>After all the NFL teams are in</p>

<br>

<h5>What about baseball/basketball/soccer/hockey/etc. ?</h5>
<p>Oooh boy</p>
