<h1>Features</h1>

<hr>

<h5>Check out your favorite stadiums and get advice from people who've been there!</h5>

<br>

<h5>Find out which tailgates would be most exiciting for you by reading about other people's experiences!</h5>

<br>

<h5>Discover which hotels are the best to stay at for your next stadium trip!</h5>

<br>

<h5>See ahead of time what the parking options would look like, and the pros and cons of each!</h5>

<br>

<h5>Peruse through restaurants nearby the stadium so you know what to be excited for after the game!</h5>

<br>
