<div id="<%= dom_id advice %>" class="d-flex justify-content-between">
  <p>
    <strong>User:</strong>
    <%= advice.user.username %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= advice.body %>
  </p>

  <p>
    <strong>Adviceable:</strong>
    <%= advice.adviceable.name %>
  </p>

</div>
