<h1>Advices</h1>

<div id="advices">
  <ul class="list-group list-group-flush">
    <% @advices.each do |advice| %>
      <li class="list-group-item">
        <%= render advice %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "New advice", new_advice_path %>
