<div class="card-lot m-4">
  <div class="card-lot-details">
    <p class="text-lot-title"><%= lot.name %></p>
    <p class="text-lot-body"><%= lot.description %></p>
  </div>
  <%= link_to lot_by_stadium_path(lot.name), class: "card-lot-button" do %>
    More info
  <% end %>
</div>
