<p style="color: green"><%= notice %></p>

<h1>Lots</h1>

<div class="d-flex p-2 justify-content-around flex-wrap">
  <% @lots.each do |lot| %>
    <div class="m-3">
      <%= render lot %>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <div>
    <%= link_to "New lot", new_lot_path, class: "btn btn-outline-success m-2" %>
  </div>
  <div>
    <%= link_to "Back to stadium", stadium_path(@stadium_lot.name), class: "btn btn-outline-primary m-2"%>
  </div>
</div>
