.wide-bears {
  background-color: #0B162A;
  color: white;
}

.wide-packers {
  background-color: #203731;
  color: white;
}

.wide-lions {
  background-color: #0076b6;
  color: white;
}

.wide-vikings {
  background-color: #4F2683;
  color: white;
}

.wide-small-text {
  color: white
}

.btn-bears {
  background-color: #0B162A;
  color: white;
}

.btn-packers {
  background-color: #203731;
  color: white;
}

.btn-lions {
  background-color: #0076b6;
  color: white;
}

.btn-vikings {
  background-color: #4F2683;
  color: white;
}
