.table-tailgate {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
}

.table-tailgate td, .table-tailgate th {
  padding: 8px;
} 

.table-tailgate tr:nth-child(even) {
  background-color: #d5d5d5;
}

.table-tailgate tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.table-tailgate tr:hover {background-color: #b1b1b1;}

.table-tailgate th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.table-tailgate th:first-of-type {
  border-top-left-radius: 10px;
}

.table-tailgate th:last-of-type {
  border-top-right-radius: 10px;
}

.table-tailgate tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}

.table-tailgate tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

.bears-row th {
  background-color: #0B162A;
}

.packers-row th {
  background-color: #203731;
}

.lions-row th {
  background-color: #0076b6;
}

.vikings-row th {
  background-color: #4F2683;
}

.chiefs-row th {
  background-color: #E31837;
}

.raiders-row th {
  background-color: #000000;
}

.broncos-row th {
  background-color: #FB4F14;
}

.chargers-row th {
  background-color: #0080C6;
}

.seahawks-row th {
  background-color: #69BE28;
}

.rams-row th {
  background-color: #003594;
}

.sf49ers-row th {
  background-color: #B3995D;
}

.table-link-name {
  color: black;
}
