<div class="card card-generic border-dark mb-3 h-100" style="max-width: 18rem;">
  <%= link_to hotel_by_stadium_path(hotel.name), class: "card-header" do %>
    <%= hotel.name %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= hotel.address %></h5>
    <p class="card-text"><%= hotel.description %></p>
  </div>
</div>
