<h1>Editing hotel</h1>

<%= render "form", hotel: @hotel %>

<br>

<div>
  <%= link_to hotel_by_stadium_path(@hotel.name) do %>
    Show this hotel
  <% end %> |
  <%= link_to "Back to homepage", root_path %>
</div>
