<h1>Hotels for the <%= @stadium_hotel.team %></h1>

<div class="d-flex justify-content-evenly flex-wrap">
  <% @hotels.each do |hotel| %>
    <%= render hotel %>
  <% end %>
</div>

<%= link_to "New hotel", new_hotel_path, class: "btn btn-outline-success m-2"%>
