<h1>Hotels for the <%= @stadium_hotel.team %></h1>

<div class="d-flex p-2 justify-content-around flex-wrap">
  <% @hotels.each do |hotel| %>
    <div class="m-3">
      <%= render hotel %>
    </div>
  <% end %>
</div>


<div class="d-flex justify-content-center">
  <div>
    <%= link_to "New hotel", new_hotel_path, class: "btn btn-outline-success m-2"%>
  </div>

  <div>
    <%= link_to "Back to stadium", stadium_path(@stadium_hotel.name), class: "btn btn-outline-primary m-2"%>
  </div>
</div>
