<div class="d-flex justify-content-center">
  <%= render "wide_hotel", :hotel => @hotel %>
</div>

<h3 class="mt-2">Helpful Tips!</h3>

<hr>

<ul class="list-group list-group-flush">
  <% @hotel.advices.each do |advice| %>
    <li class="list-group-item">
      <%= render advice %>
    </li>
  <% end %>
</ul>

<div  class="card-body">
  <!--i dont understand why stadium.advice.build doesnt work-->
  <% if current_user %>
    <%= render "advices/form", advice: Advice.new(adviceable_id: @hotel.id, adviceable_type: @hotel.class, user_id: current_user.id) %>
  <% end %>
  
</div>

<div>
  <%= link_to "Back to #{@hotel.stadium.team} hotels", hotels_path(@hotel.stadium.name), class: "btn btn-outline-primary m-2" %>
</div>
