<div class="card" style="width: 18rem; m-4">
  <img src=<%=image_path(stadium.image)%> class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= stadium.team %></h5>
    <p class="card-text"><%= stadium.name %></p>
  </div>
</div>
