<h1>Stadiums</h1>

<div id="stadiums">
  <% @stadiums.each do |stadium| %>
    <%= render stadium %>
    <p>
      <%= link_to "Go to Stadium", stadium, class: "btn btn-outline-primary m-2" %>
    </p>
  <% end %>
</div>

<%#= link_to "New stadium", new_stadium_path %>
