<h1>Stadiums</h1>

<div id="stadiums" class="d-flex p-2 justify-content-evenly flex-wrap">
  <% @stadiums.each do |stadium| %>
    <div class="mt-4">
      <%= render stadium %>
    </div>
  <% end %>
</div>

<!--<div id="stadiums" class="d-flex p-2 justify-content-evenly flex-wrap">-->
  <%# @stadiums.each do |stadium| %>
<!--    <div class="mt-4">-->
      <%#= render "wide_stadium", :stadium => stadium %>
<!--    </div>-->
  <%# end %>
<!--</div>-->
