<%= render @stadium %>

<h3 class="mt-2">Helpful Tips!</h3>

<hr>

<ul class="list-group list-group-flush">
  <% @stadium.advices.each do |advice| %>
    <li class="list-group-item">
      <%= render advice %>
    </li>
  <% end %>
</ul>

<h3>Share your tips!  </h3>

<div  class="card-body">
  <%= render "advices/form", advice: Advice.new(adviceable_id: @stadium.id, adviceable_type: @stadium.class, user_id: current_user.id) %>
</div>

<div>
  <%= link_to "Back to Stadiums", stadiums_path, class: "btn btn-outline-primary m-2" %>
</div>
